    html,
    body {
        min-height: 100%;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    a:hover {
        color: black;
    }
    /* Page d'accueil  */
    
    .homeBody {
        background-image: url("../img/fondecran.jpg");
        background-size: contain;
        background-position: center;
        min-height: 100%;
        background-repeat: no-repeat;
    }
    
    .logo {
        width: auto;
        height: 8rem;
    }
    
    .logoFilters {
        width: 11rem;
    }
    
    .title {
        font-size: 4rem;
    }
    
    .titleCategory {
        color: #E28850;
        font-size: 1rem;
        margin-top: 0%;
    }
    
    .navbar {
        background-color: #215B70;
    }
    
    .connexion {
        background-color: orange;
        border-radius: 50px;
        font-size: 1rem;
    }
    
    .test {
        padding-top: 5rem;
    }
    
    .whoAreWe {
        font-size: 1rem;
    }
    /* Page qui sommes-nous */
    
    .titlePara {
        color: #E28850;
    }
    
    .linkInscriptionn {
        color: #215B70;
        text-decoration-line: underline;
    }
    
    .imgPique {
        height: 5rem;
        width: auto;
    }
    /* Page choix connexion entreprise ou candidat */
    
    .entrepriseChoice {
        background-color: #E28850;
        border-radius: 15px;
        width: 12rem;
        height: 8rem;
        font-size: 1.5rem;
    }
    
    .candidatChoice {
        background-color: #215B70;
        border-radius: 15px;
        width: 12rem;
        height: 8rem;
        font-size: 1.5rem;
    }
    
    .imgCandidatOuEntrepriseConnexion {
        width: 20rem;
        height: auto;
    }
    /* Page de connexion */
    
    .btnEnregist {
        background-color: orange;
        border-radius: 50px;
        width: 10rem;
    }
    
    .lienConnexion {
        font-size: small;
        color: #215B70;
    }
    /* 
    Page profil talents des candidats  */
    
    .supercactusImg {
        height: 5rem;
        width: auto;
    }
    /* 
    Page profil des candidats  */
    
    .cvPicture {
        height: 8rem;
        width: auto;
    }
    
    .cvPictureZoom {
        width: 45rem;
    }
    /* 
    Page détail des candidats  */
    
    .profilRed {
        color: #b918189f;
    }
    
    .profilYellow {
        color: #F1CD7B;
    }
    
    .profilBlue {
        color: #7face6;
    }
    
    .profilGreen {
        color: #87d8afd3;
    }
    
    .cardDetailRed {
        background-color: #b918189f;
        border-radius: 20px;
    }
    
    .cardDetailYellow {
        background-color: #F1CD7B;
        border-radius: 20px;
    }
    
    .cardDetailBlue {
        background-color: #7face6;
        border-radius: 20px;
    }
    
    .cardDetailGreen {
        background-color: #87d8afd3;
        border-radius: 20px;
    }
    /* barre de filtre à gauche */
    
    .list {
        list-style-type: none;
    }
    /* .card {
        width: 50rem;
        margin: 3rem;
        box-shadow: 2px 2px;
        border: solid red 2px;
    } */
    
    .filtersButton {
        background: #215B70;
        border-radius: 3rem;
        display: none;
    }
    
    .filters {
        background-color: #215B70;
    }
    
    .filtersHide {
        background-color: #215B70;
    }
    
    .filtersBig {
        background-color: #215B70;
        min-height: 100%;
    }
    
    .filtersButton {
        display: none;
    }
    
    .filtersSmall {
        display: none;
    }
    
    .btnSearch {
        border: #E28850 2px solid;
        border-radius: 20rem;
        background-color: #E28850;
    }
    
    .inputSearch {
        border-radius: 20rem;
    }
    
    .footer {
        background-color: #4040405e;
    }
    /*     
Menu de navigation */
    
    .menu {
        border-bottom: gray 4px solid;
        text-decoration: none;
        width: 11.4rem;
    }
    
    .myProfil {
        border-bottom: #E28850 6px solid;
        text-decoration: none;
        width: 14rem;
    }
    
    .offres {
        border-bottom: #E28850 6px solid;
        text-decoration: none;
        width: 14rem;
    }
    
    .candidatesProfil {
        border-bottom: #E28850 6px solid;
        text-decoration: none;
        width: 14rem;
    }
    
    .recrutorsLikes {
        border-bottom: #E28850 6px solid;
        text-decoration: none;
        width: 14rem;
    }
    /* Page vue Recruteurs des profils de candidats */
    
    .myCards {
        flex-wrap: wrap;
    }
    
    .linkCardCandidate {
        text-decoration: none;
        color: black;
    }
    
    .cardCandidate {
        width: 19rem;
        height: 19rem;
        background-color: #F1CD7B;
        border-radius: 2rem;
    }
    
    .cardRed {
        width: 19rem;
        height: 19rem;
        background-color: #b918189f;
        border-radius: 2rem;
    }
    
    .cardBlue {
        width: 19rem;
        height: 19rem;
        background-color: #7face6;
        border-radius: 2rem;
    }
    
    .cardGreen {
        width: 19rem;
        height: 19rem;
        background-color: #87d8afd3;
        border-radius: 2rem;
    }
    
    .imageProfil3 {
        height: 100px;
        width: 100px;
        background-image: url(http://becreativeconcept.fr/wp-content/uploads/2017/02/profil-1.png);
        background-size: cover;
        border-radius: 50%;
        border: solid;
        border-color: #404040;
        background-position: center;
        border-width: 4px;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.30), 0 5px 12px rgba(0, 0, 0, 0.1);
    }
    
    .cardInfosYellow {
        border: #F1CD7B solid 2px;
        border-radius: 40px;
    }
    
    .cardInfosRed {
        border: #b918189f solid 2px;
        border-radius: 40px;
    }
    
    .cardInfosBlue {
        border: #7face6 solid 2px;
        border-radius: 40px;
    }
    
    .myShadow {
        box-shadow: 5px 5px 20px #555;
    }
    
    .cardInfosGreen {
        border: #87d8afd3 solid 2px;
        border-radius: 40px;
    }
    /* Page vue Recruteur des annonces */
    
    .jobColorBlue {
        height: 6rem;
        width: 6rem;
        background-color: #7face6;
        border-radius: 1rem;
    }
    
    .jobColorRed {
        height: 6rem;
        width: 6rem;
        background-color: #b918189f;
        border-radius: 1rem;
    }
    
    .jobColorYellow {
        height: 6rem;
        width: 6rem;
        background-color: #F1CD7B;
        border-radius: 1rem;
    }
    
    .jobColorGreen {
        height: 6rem;
        width: 6rem;
        background-color: #87d8afd3;
        border-radius: 1rem;
    }
    
    .btnAddAnnonce {
        margin-top: 2rem;
        width: 22rem;
        border-radius: 20rem;
        color: white;
        background-color: black;
    }
    
    .announceLink {
        text-decoration: none;
        color: black;
    }
    
    .btnMofidy {
        height: 2.2rem;
        width: 14rem;
        border-radius: 20rem;
        background-color: #E28850;
    }
    
    .btnRemove {
        height: 2.2rem;
        width: 14rem;
        border-radius: 20rem;
        background-color: red;
    }
    
    .myModal {
        background-color: #215B70;
    }
    /* Page vue Recruteur zoom sur l'annonce */
    
    .titleAnnounceBlue {
        background-color: #7face6;
        border-radius: 2rem;
        width: 70rem;
    }
    
    .titleAnnounceRed {
        background-color: #b918189f;
        border-radius: 2rem;
        width: 70rem;
    }
    
    .titleAnnounceYellow {
        background-color: #F1CD7B;
        border-radius: 2rem;
        width: 70rem;
    }
    
    .titleAnnounceGreen {
        background-color: #87d8afd3;
        border-radius: 2rem;
        width: 70rem;
    }
    
    .back {
        text-decoration: none;
        color: #E28850;
    }
    
    .coordonnees {
        background-color: rgba(217, 227, 235, 0.61);
        width: 70rem;
        border-radius: 2rem;
    }
    
    .jobDescription {
        width: 70rem;
    }
    /* Page vue Candidat de son profil */
    
    .backgroundProfil {
        background-image: url("../img/selection-cv.jpg");
        background-size: contain;
    }
    
    .bgProfil {
        background-color: #95cbe7;
    }
    
    .profilText {
        color: #E28850;
    }
    
    .profilCandidate {
        background-color: #215B70;
        width: 55vw;
        border-radius: 40px;
        box-shadow: 10px 8px 12px #404040;
    }
    
    .textArea {
        height: 30rem;
    }
    /* Page vue Candidat des annonces */
    
    .jobDescriptionTruncate {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        /* number of lines to show */
        line-height: 1.2;
        -webkit-box-orient: vertical;
        height: 7.8em;
    }
    
    .jobNameTruncate {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        line-height: 1.2;
        -webkit-box-orient: vertical;
    }
    
    .candidateNameTruncate {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /* number of lines to show */
        line-height: 1.2;
        -webkit-box-orient: vertical;
    }
    
    .recruteurName {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /* number of lines to show */
        line-height: 1.2;
        -webkit-box-orient: vertical;
    }
    
    .infoCandidate {
        height: 6.5em;
    }
    
    #scroll_to_top {
        position: fixed;
        width: 25px;
        height: 25px;
        bottom: 50px;
        right: 30px;
    }
    
    #scroll_to_top img {
        width: 25px;
    }
    
    .publicationDate {
        position: relative;
        bottom: 0px;
        margin-left: 1rem;
    }
    
    .superCactus {
        border-bottom: #b918189f solid 3px;
        width: 7rem;
    }
    
    .peterPaon {
        border-bottom: #F1CD7B solid 3px;
        width: 7rem;
    }
    
    .spiderLutin {
        border-bottom: #87d8afd3 solid 3px;
        width: 7rem;
    }
    
    .ironSpoke {
        border-bottom: #7face6 solid 3px;
        width: 7rem;
    }
    
    @media screen and (max-width: 1000px) {
        .filtersSmall {
            display: block;
        }
        .filtersBig {
            display: none;
        }
        .filtersButton {
            background: #215B70;
            border-radius: 3rem;
            display: block;
        }
        /* .filters {
            position: fixed;
            top: 0%;
            width: 100%;
        } */
        .homeBody {
            background-image: url("../img/rh.svg");
            background-size: contain;
            background-position: bottom;
            background-repeat: no-repeat;
        }
        h1 {
            text-align: center;
        }
        .containerImage {
            text-align: right;
            padding-left: 2rem;
        }
        .logo {
            text-align: end;
        }
        .list {
            flex-wrap: nowrap;
            justify-content: space-between;
            margin-left: 0.2rem;
        }
        .whoAreWe {
            text-align: center;
        }
        .profilCandidate {
            width: 80vw;
            height: auto;
        }
        .menuIcon {
            border-bottom: gray 4px solid;
            text-decoration: none;
            display: flex;
            width: 5.5rem;
        }
        .menu {
            border-bottom: gray 4px solid;
            text-decoration: none;
            display: none;
        }
        .imgCandidatOuEntrepriseConnexion {
            display: none;
        }
        .superCactus {
            border-bottom: #b918189f solid 3px;
            width: 5rem;
        }
        .peterPaon {
            border-bottom: #F1CD7B solid 3px;
            width: 5rem;
        }
        .spiderLutin {
            border-bottom: #87d8afd3 solid 3px;
            width: 5rem;
        }
        .ironSpoke {
            border-bottom: #7face6 solid 3px;
            width: 5rem;
        }
    }